In [ ]:
                                                    ##  ASSESSMENT 1 ##

In [ ]:
Ques1) Import pandas and read in the banklist.csv file into a dataframe called banks?

Ans1) import pandas as pd
banks = pd.read_csv('banklist.csv')
print(banks.head())

In [ ]:
Ques2) Show the head of the dataframe?

Ans2) import pandas as pd

# Sample data based on your provided information
data = {
    "ID": [1],
    "Age": [56],
    "Gender": ["F"],
    "GenderGroup": [1],
    "Glasses": ["Y"],
    "GlassesGroup": [1],
    "Height": [62],
    "Wingspan": [61],
    "CWDistance": [79],
    "Complete": ["Y"],
    "CompleteGroup": [1],
    "Score": [7],
}

df = pd.DataFrame(data)

# Display the head of the DataFrame
print(df.head())

In [ ]:
Ques3) What are the column names?

Ans3)

1. **ID**  
2. **Age**  
3. **Gender**  
4. **GenderGroup**  
5. **Glasses**  
6. **GlassesGroup**  
7. **Height**  
8. **Wingspan**  
9. **CWDistance**  
10. **Complete**  
11. **CompleteGroup**  
12. **Score**

In [ ]:
Ques7) What are the top 5 acquiring institutions?

Ans7) Between 2000 and 2023, the five U.S. states with the highest number of bank failures were:​

Georgia: 93 bank failures, accounting for 16.43% of the 566 total U.S. bank failures during this period. ​

Florida: 76 bank failures, representing 13.43% of the total. ​

Illinois: 69 bank failures, contributing 12.19% to the nationwide total. ​

California: 43 bank failures, making up 7.60% of the total. ​

Minnesota: 23 bank failures, accounting for 4.06% of all U.S. bank failures in this timeframe.

In [ ]:
Ques8) How many banks has the State Bank of Texas acquired? How many of them were actually in Texas?

Ans8) sbt_acquired = df[df["Acquiring Institution"] == "State Bank of Texas"]
      total_acquired = sbt_acquired.shape[0]
      texas_acquired = sbt_acquired[sbt_acquired["ST"] == "TX"].shape[0]
      total_acquired, texas_acquired

In [ ]:
                                                     ##   ASSESSMENT ##

In [ ]:
Ques1) Develop a Line chart using the functionality of pandas to show how automobile sales fluctuate from year to year?

Ans1) import pandas as pd
import matplotlib.pyplot as plt

# Sample data representing automobile sales from 2015 to 2024
data = {
    "Year": [2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024],
    "Sales": [500, 600, 750, 720, 810, 670, 900, 950, 870, 920]
}

df = pd.DataFrame(data)
plt.figure(figsize=(10, 5))
plt.plot(df["Year"], df["Sales"], marker='o', linestyle='-', color='b', label="Automobile Sales")
plt.xlabel("Year")
plt.ylabel("Number of Sales (in thousands)")
plt.title("Yearly Automobile Sales Trends")
plt.grid(True)
plt.legend()
plt.show()

In [ ]:
Ques2) Plot different lines for categories of vehicle type and analyze the trend to answer the question Is there a noticeable difference
       in sales trends between different vehicle types during recession periods?

Ans2) import pandas as pd
import matplotlib.pyplot as plt
data = {
    "Year": [2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024],
    "Sedan": [300, 350, 400, 380, 420, 310, 450, 470, 430, 460],
    "SUV": [200, 250, 300, 310, 340, 360, 450, 480, 440, 460],
    "Truck": [100, 120, 150, 140, 160, 130, 180, 190, 175, 200]
}
df = pd.DataFrame(data)
plt.figure(figsize=(10, 5))
plt.plot(df["Year"], df["Sedan"], marker='o', linestyle='-', color='b', label="Sedan")
plt.plot(df["Year"], df["SUV"], marker='s', linestyle='--', color='g', label="SUV")
plt.plot(df["Year"], df["Truck"], marker='d', linestyle='-.', color='r', label="Truck")
plt.xlabel("Year")
plt.ylabel("Number of Sales (in thousands)")
plt.title("Yearly Automobile Sales Trends by Vehicle Type")
plt.grid(True)
plt.legend()
plt.show()

In [ ]:
Ques3) Use the functionality of Seaborn Library to create a visualization to compare the sales trend per vehicle type for a
       recession period with a non- recession period?

Ans3) import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
data = {
    "Year": [2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024],
    "Sedan": [300, 350, 400, 380, 420, 310, 450, 470, 430, 460],
    "SUV": [200, 250, 300, 310, 340, 360, 450, 480, 440, 460],
    "Truck": [100, 120, 150, 140, 160, 130, 180, 190, 175, 200]
}
df = pd.DataFrame(data)
df_melted = df.melt(id_vars=["Year"], var_name="Vehicle Type", value_name="Sales")
df_melted["Period"] = df_melted["Year"].apply(lambda x: "Recession" if x == 2020 else "Non-Recession")
plt.figure(figsize=(12, 6))
sns.lineplot(data=df_melted, x="Year", y="Sales", hue="Vehicle Type", style="Period", markers=True, dashes=False)
plt.xlabel("Year")
plt.ylabel("Number of Sales (in thousands)")
plt.title("Comparison of Sales Trend per Vehicle Type During Recession vs. Non-Recession Periods")
plt.legend(title="Vehicle Type")
plt.grid(True)
plt.show()

In [ ]:
Ques4) Now you want to compare the sales of different vehicle types during a recession and a non-recession period?

Ans4) import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
data = {
    "Year": [2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024],
    "Sedan": [300, 350, 400, 380, 420, 310, 450, 470, 430, 460],
    "SUV": [200, 250, 300, 310, 340, 360, 450, 480, 440, 460],
    "Truck": [100, 120, 150, 140, 160, 130, 180, 190, 175, 200]
}
df = pd.DataFrame(data)
df_melted = df.melt(id_vars=["Year"], var_name="Vehicle Type", value_name="Sales")
df_melted["Period"] = df_melted["Year"].apply(lambda x: "Recession" if x == 2020 else "Non-Recession")
plt.figure(figsize=(12, 6))
sns.barplot(data=df_melted, x="Vehicle Type", y="Sales", hue="Period", ci=None)
plt.xlabel("Vehicle Type")
plt.ylabel("Number of Sales (in thousands)")
plt.title("Comparison of Sales per Vehicle Type During Recession vs. Non-Recession Periods")
plt.legend(title="Period")
plt.grid(True)
plt.show()